* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #8B008B;
    --secondary-color: #FAEBD7;
    --tertiary-color: #9b8bfa;
    --dark: rgb(27, 16, 25);
}

body {
    color: var(--dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    z-index: 99;
}

header h1 {
    font-weight: lighter;
    font-size: 50px;
    color: var(--secondary-color);
    letter-spacing: 7px;
    margin: 0;
    text-shadow: 0 0 15px var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin-top: auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.75vw;
    letter-spacing: 3px;
    text-shadow: 0 0 15px var(--secondary-color);
}
/* end Navigation styles */

section {
    padding: 60px;
}

/* Hero */
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    /* background-position: 80%;
    background-attachment: fixed; */
}
/* end Hero styles */

.content {
    margin: auto;
    max-width: 75%;
}

/* section styles */
.section {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px auto;
}

.section-title {
    font-size: 45px;
    color: var(--primary-color);
    letter-spacing: 3px;
    border-right: 5px solid var(--tertiary-color);
    padding-right: 25px
}

/* end section styles */

/* About Me"" section */
.about-me {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    
}

.about-me-img {
    flex: 1 20%;
    margin: auto 50px;
}

.about-me-text {
    flex: 12;
}

.about-me-text h4 {
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 1.3px;
}

.about-me-text p {
    font-size: 18px;
    line-height: 1.5;
}
/* end "About Me" styles */

/* "My Work" section */
.my-work {

}

.run-buddy {
    background-image: ./assets/images/#;
}

.placeholder-1 {
    background-image: ./assets/images/#;
}

.placeholder-2 {
    background-image: ./assets/images/#;
}

.placeholder-3 {
    background-image: ./assets/images/#;
}

.placeholder-4 {
    background-image: ./assets/images/#;
}


/* end "My Work" styles */

/* "Contact Me" section */
.contact-me {

}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-info ul li {
    margin: auto 50px;
}
/*edit font style here */
.contact-info ul li a {

}
/* end "Contact Me" styles */

/* Utility Classes */
.flex-row {
    display: flex;
}