* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #8B008B;
    --secondary-color: #f9f3fc;
    --tertiary-color: #021C67;
    --dark: rgb(27, 16, 25);
}

body {
    color: var(--dark);
    font-family: 'Didact Gothic', sans-serif;
}

/* Navigation */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 99;
}

header h1 {
    font-weight: lighter;
    font-size: 60px;
    margin: 0;
    text-shadow: 0 0 15px var(--secondary-color);
    font-family: 'Montserrat Subrayada', sans-serif;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin-top: auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.75vw;
    letter-spacing: 3px;
    text-shadow: 0 0 15px var(--secondary-color);
    font-family: 'Carrois Gothic SC', sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

header nav ul li a:hover {
    transition: 0.3s;
    text-decoration: underline;
    font-size: 2vw;
}
/* end Navigation styles */

/* Hero */
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 45px;
    background-image: url("../images/keyboard.jpg");
    background-size: cover;
    /* background-position: 80%;
    background-attachment: fixed; */
}
/* end Hero styles */

/* layout */
section {
    padding: 60px;
}

.structure {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 30px 0;
    padding: 15px 0;
    flex-direction: row;
    align-items: stretch;
}

.section > div {
    flex: 0 0 70%;
}

.section h2 {
    font-size: 45px;
    color: var(--primary-color);
    letter-spacing: 3px;
    border-right: 5px solid var(--tertiary-color);
    padding-right: 25px;
    text-align: right;
    flex: 0 0 20%;
    font-family: 'Carrois Gothic SC', sans-serif;
}
/* end layout styles */

/* About Me"" section */
.about-me-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
}

.about-me-img {
    flex: 1 25%;
    margin-left: 1.25%;
}

.about-me-text {
    flex: 12;
}

.about-me-text h3, p {
    margin-right: 1.25%;
}

.about-me-text h3 {
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 1.3px;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: var(--tertiary-color);
}

.about-me-text p {
    font-size: 20px;
    line-height: 1.5;
}
/* end "About Me" styles */

/* "My Work" section */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.flex-item {
    display: flex;
    width: 47.5%;
    margin-bottom: 2.5%;
    margin-left: 1.25%;
    margin-right: 1.25%;
    background-size: cover;
    background-position: center;
    padding: 15px 0;
    min-height: 175px;
    max-height: 175px;
    border: 2px solid var(--tertiary-color);
    opacity: 85%;
    transition: 0.3s;
}

.flex-item:first-child {
    width: 100%;
    min-height: 300px;
} 

.flex-container div {
padding: 15px;
height: 75px;
width: 150px;
background-color: var(--primary-color);
}

.flex-container a:hover {
    opacity: 1;
    transition: 0.3s;
}

.flex-item h4, span {
    color: white;
}

.flex-item h4 {
    font-family: 'Carrois Gothic SC', sans-serif;
}

.just-kitten-around {
    background-image: url("../images/just-kitten-around.png");
}

.placeholder-1 {
    background-image: url("../images/run-buddy.png");
}

.placeholder-2 {
    background-image: url("../images/books.jpg");
}

.placeholder-3 {
    background-image: url("../images/code.jpg");
}

.placeholder-4 {
    background-image: url("../images/laptop.jpg");
}
/* end "My Work" styles */

/* "Contact Me" section */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex: 0 0 70%;
}

.contact-info a {
    margin: auto 35px;
    font-size: 21px;
    text-decoration: none;
    font-style: normal;
    color: black;
    transition: 0.3s;
}

.contact-info a:hover {
    color: var(--primary-color);
    font-size: 22px;
    transition: 0.3s;
    font-weight: bold;
    text-shadow: 4px 4px 4px #a582d4;
}
/* end "Contact Me" styles */
